.very {
  background-color: red;
  color: white;
  margin-left: 10px;
}
.simi {
  background-color: yellow;
  color: black;
  margin-left: 10px;
}

.not {
  background-color: green;
  color: white;
  margin-left: 10px;
}

.edit {
  margin-left: 10px;
}

.delete {
  margin-left: 10px;
}
